.History{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;

}

.borderAround{
    border: 2px solid black;
}

.historyHeader{
   width: 70vw;
}

.greyBG{
    background-color: gray;
}

.pl5{
    padding-left: 5px;
}

.whiteText{
    color: white;
}

.flex{
    display: flex;
    flex-wrap: wrap;

}

.jc{
    justify-content: center;
     
}

.wFit{
    width: fit-content;
}

.Bonded{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.mg20{
    padding-bottom: 20px;
}

.bgGrey{
    background-color: lightgray;
}

.plr10{
    padding-left: 10px;
    padding-right: 10px;
}

.greyText{
    color: grey;
}

.mr40P{
    margin-right: 10%;
}

.pl5{
    padding-left: 6px;   
}